<!DOCTYPE html>
<html>
<h1>Welcome to Hide and Seek Match Game</h1>
<style type="text/css"></style>
<!-- <link rel="stylesheet" type="text/css" href="welcome.scss">
 -->

<head>
  <title>

  </title>



</head>



<body>
   <table border= "1">
      <tr>
          <td id="s1" class= "Square" ><p class="hide"></p id="p1"></td>
          <td id="s2" class= "Square" ><p class="hide"></p id="p2"></td>
          <td id="s3" class= "Square" ><p class="hide"></p id="p3"></td>
          <td id="s4" class= "Square" ><p class="hide"></p id="p4"></td>
      </tr>
      <tr>
          <td id="s5" class= "Square" ><p class="hide"></p id="p5"></td>
          <td id="s6" class= "Square" ><p class="hide"></p id="p6"></td>
          <td id="s7" class= "Square" ><p class="hide"></p id="p7"></td>
          <td id="s8" class= "Square" ><p class="hide"></p id="p8"></td>
      </tr>
      <tr>
          <td id="s9" class= "Square" ><p class="hide"></p id="p9"></td>
          <td id="s10" class= "Square" ><p class="hide"></p id="p10"></td>
          <td id="s11" class= "Square" ><p class="hide"></p id="p11"></td>
          <td id="s12" class= "Square" ><p class="hide"></p id="p12"></td>
      </tr>
      <tr>
          <td id="s13" class= "Square"><p class="hide"></p id="p13"></td>
          <td id="s14" class= "Square" ><p class="hide"></p id="p14"></td>
          <td id="s15" class= "Square" ><p class="hide"></p id="p15"></td>
          <td id="s16" class= "Square" ><p class="hide"></p id="p16"></td>
      </tr>

    </table>   

</body>
</html>






