h1 {
  color:blue;
}

h4 {
  color:red;
}

h2 {
  color:red;
}

.Square {
  position: relative;
  float: center;
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18pt;
  font-family: Helvetica;
        }

.hide {
  display: none;

}
